doctype html
html(lang="pt-br")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/home-main.css')
    link(rel='stylesheet', href='/stylesheets/users-main.css')
  body
    block content