extends layout

block content
    div.master
        div.stage(style="height:250px;")
          div.nav
            div.logotype
              h1 Express
              a(href="/") home
              a(href="/users") users
               a(href="/signup") sign up
          h1(class="title_stage") Cadastra-se
      div.content
        div.conteiner
            div.box-created
                form(method="POST", action="/users/insert")
                    input(type="text", name="name",  placeholder="Nome:")
                    input(type="text", name="age",  placeholder="Idade:")
                    input(type="text", name="login",  placeholder="Login:")
                    input(type="password", name="pass",  placeholder="senha:")
                    input(type="submit", value="Cadastrar")