extends layout

block content
  div.master
    div.stage
      div.nav
        div.logotype
          h1 Express
          a(href="/") home
      h1(class="title_stage")= title
    div.content
      div.conteiner